*{
    margin: 0;
    padding: 0;
}

/*section-mainNavigation*/
.section-mainNavigation{
    background: #333;
}

.section-mainNavigation ul{
    text-align: center;
    padding: 15px;
    margin: 0;
}

.section-mainNavigation ul li{
    display: inline-block;
    margin: 0 5px;
}

.section-mainNavigation ul li a{
    color: white;
    text-transform: uppercase;
}

.section-mainNavigation ul li a:hover,
.section-mainNavigation ul li a:focus,
.section-mainNavigation ul li a.active{
    color: #f16868;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/*homepage-section*/
.content-section{
    padding: 100px 0;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.content-section a,
.table-section a{
    color: #f16868;
    display: inline-block;
    margin: 25px 10px;
    padding: 10px 25px;
    border: 2px solid #f16868;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-transform: uppercase;
}

.content-section a:hover,
.content-section a:focus,
.table-section a:hover,
.table-section a:focus{
    text-decoration: none;

    color: white;
    background: #f16868;
}

.content-section a b,
.table-section a b{
    padding-left: 5px;
}

.content-section a.active,
.table-section a.active{
    color: white;
    background: #f16868;
}

/* table */
.table-section{
    text-align: center;
}

table{
    text-align: center;
}
table tr:first-child td{
    background: #f16868;
}

table tr:first-child td{
    font-weight:bold;
    color: white;
}

a.table-link{
    margin: 0;
    padding: 0;
    border: none;
}

a.table-link:hover{
    background: transparent;
    color: #f16868;
}

/* button, inputs */
input.input-delete{
    background: #f16868;
    padding: 10px 25px;
    box-shadow: none;
    border: 2px solid #f16868;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.form-control,
.form-student{
    margin-bottom: 20px;
    text-align: center;
}
.form-control:focus,
#form-search:focus{
    border: 1px solid #f16868 ;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(233, 129, 175, 0.07),0 0 8px rgba(233, 63, 67, 0.6);
    box-shadow: inset 0 1px 1px rgba(233, 90, 140, 0.07),0 0 8px rgba(233, 97, 203, 0.6);
}

.form-student input{
    display: inline-block;
    margin: 0;
}

#form-search{
    padding: 10px;
}
