{% extends "main.html.twig" %}

{% block classCreeateDatabase %}active{% endblock %}

{% block content %}
    <div class="content-section">
        <h1>The database already exists</h1>
        <p>It is possible you created earlier - press the button for homepage, or generate content</p>
        <a href="?controller=index&action=index"><i class="glyphicon glyphicon-chevron-left"></i><b>Link to homepage</b></a>
        <a href="/?controller=generateDbData&action=index"><i class="glyphicon glyphicon-chevron-right"></i><b>Generate content</b></a>
    </div>
{% endblock %}