{% extends "main.html.twig" %}

{% block classCreeateDatabase %}active{% endblock %}

{% block content %}
    <div class="content-section">
        <h1>Database structure - Created !</h1>
        <p>Press the button, to see result</p>
        <a href="?controller=creeateDbStructure&action=index"><i class="glyphicon glyphicon-chevron-left"></i><b>See result</b></a>
        <img style="width: 100%;" src="src/Views/templates/src/EERDiagram.png" alt="">
        <p style="text-align: center; padding-bottom: 25px;">Database structure - EER Diagram</p>
    </div>
{% endblock %}