{% extends "main.html.twig" %}

{% block classCreateData %}active{% endblock %}

{% block content %}
    <div class="content-section">
        <h1>Generate more students!</h1>
        <p>Press the button, to Back</p>
        <a href="/?controller=generateDbData&action=index"><i class="glyphicon glyphicon-chevron-left"></i><b>Back</b></a>
    </div>
{% endblock %}