{% extends "main.html.twig" %}

{% block classCreateData %}active{% endblock %}

{% block content %}
    <div class="content-section">
        <h1>Generated minimum data set table - is generated</h1>
        <p>To continue to work, you need to generate the data in tables</p>
        <a href="/?controller=generateDbData&action=generateDbData"><i class="glyphicon glyphicon-wrench"></i><b>Generate</b></a>
    </div>
{% endblock %}