<div class="section-mainNavigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul >
                    <li><a href="#">Homepage</a></li>
                    <li><a href="#">University</a></li>
                    <li><a href="#">Departments</a></li>
                    <li><a href="#">Students</a></li>
                    <li><a href="#">HomeWork</a></li>
                    <li><a href="#">Search(+)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>