{% extends "main.html.twig" %}

{% block classHomepage %}active{% endblock %}

{% block content %}
    <div class="content-section">
        <h1>GeekHub - students</h1>
        <p>Welcome to home page GeekHub - students. Here you can see all information about course, teacher and students. Just go to link in main menu, and get all information what you want.</p>
        <a href="https://github.com/MaximStrutinskiy/Home-work-4/tree/dev"><i class="glyphicon glyphicon-link"></i><b>GitHub</b></a>
    </div>
{% endblock %}