{% extends "main.html.twig" %}

{% block classCreateData %}active{% endblock %}

{% block content %}
    <div class="content-section">
        <h1>Test text twig</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque distinctio ipsum labore mollitia possimus quas quibusdam unde. Aperiam mollitia nemo optio quia quos. Ad eum hic illum laboriosam magni minima perspiciatis possimus totam! Aut commodi eum sint tempora veniam voluptatibus!</p>
    </div>
{% endblock %}